body {
    font-family: "B badr", "Helvetica Neue", Helvetica, sans-serif;
    #background: url('background.jpg') no-repeat center center fixed;
#    -webkit-background-size: cover;
#    -moz-background-size: cover;
#    -o-background-size: cover;
#    background-size: cover;
}

.small-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-top: 350px;
}

.tiny-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding-top: 10px;
}

.large-title {
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    color: white;
}

.countdownHolder {
    width: 650px;
    margin: 0 auto;
    font: 40px/1.5 'Open Sans Condensed', sans-serif;
    text-align: center;
    letter-spacing: -3px;
    padding-top: 20px;
}

.position {
    display: inline-block;
    height: 1.6em;
    overflow: hidden;
    position: relative;
    width: 1.05em;
}

.digit {
    position: absolute;
    display: block;
    width: 1em;
    background-color: #444;
    border-radius: 0.2em;
    text-align: center;
    color: #fff;
    letter-spacing: -1px;
}

.digit.static {
    box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.35);

    background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #3A3A3A), color-stop(0.5, #444444));
}

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

.countDays {
    /* display:none !important;*/
}

.countDiv0 {
    /* display:none !important;*/
}

.countHours {
}

.countDiv1 {
}

.countMinutes {
}

.countDiv2 {
}

.countSeconds {
}

.countDiv {
    display: inline-block;
    width: 16px;
    height: 1.6em;
    position: relative;
}

.countDiv:before,
.countDiv:after {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #444;
    border-radius: 50%;
    left: 50%;
    margin-left: -3px;
    top: 0.5em;
    box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.5);
    content: '';
}

.countDiv:after {
    top: 0.9em;
}

.countdownHolder {
    width: 650px;
    margin: 0 auto;
    font: 40px/1.5 'Open Sans Condensed', sans-serif;
    text-align: center;
    letter-spacing: -3px;
}

.position {
    display: inline-block;
    height: 1.6em;
    overflow: hidden;
    position: relative;
    width: 1.05em;
}

.digit {
    position: absolute;
    display: block;
    width: 1em;
    background-color: #444;
    border-radius: 0.2em;
    text-align: center;
    color: #fff;
    letter-spacing: -1px;
}

.digit.static {
    box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.35);

    background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #3A3A3A), color-stop(0.5, #444444));
}

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

.countDays {
    /* display:none !important;*/
}

.countDiv0 {
    /* display:none !important;*/
}

.countHours {
}

.countDiv1 {
}

.countMinutes {
}

.countDiv2 {
}

.countSeconds {
}

.countDiv {
    display: inline-block;
    width: 16px;
    height: 1.6em;
    position: relative;
}

.countDiv:before,
.countDiv:after {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #444;
    border-radius: 50%;
    left: 50%;
    margin-left: -3px;
    top: 0.5em;
    box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.5);
    content: '';
}

.countDiv:after {
    top: 0.9em;
}

#container {
    top:10px;
    vertical-align: middle;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    #background-image: url(http://unbouncepages-com.s3.amazonaws.com/contest.unbounce.com/blog-for-ipad/black70opacity.original.png);
    background-repeat: repeat;
    background-position: left top;
    border-style: none none none none;
    border-width: 3px;
    margin: auto;
    position: relative;
    width: 869px;
    height: 100px
}